<!DOCTYPE html>
<html>
  <head>
    <title>Instaphoto</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
<div class="container">
<%= link_to "Главная", root_path %>
<%= link_to "О нас", pages_about_path %>

    <%= yield %>
</div>
  </body>
</html>
